:root {
    --main-color: #2e008b;
    --secondary-color: white;
    --accent-color: #71b6ff;

    --main-font: 'Poppins'
}

* {
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    box-sizing: border-box;
    background-color: #f5fafe;
    
}

nav {
    margin: 0;
    width: 100%;
    display: flex;
    background-color: var(--main-color) ;
    position: fixed;
    z-index: 2;
}

.navImg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2%;
}

.navImg > img {
    width: 45%;
    height: 90%;
}

.navLinks {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.navLinks > a {
    align-self: center;
    color: var(--secondary-color);
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 500;
}

.navLinks > a:hover {
    align-self: center;
    color: var(--accent-color);
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10% auto;
    align-items: center;
}

.indexH1 {
    color: var(--accent-color);
    font-size: 4em;
}

.allJobs {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.jobBlock {
    display: flex;
    background-color: var(--secondary-color);
    flex-direction: column;
    /* border: 2px solid var(--main-color); */
    border-radius: 5px;
    padding: 0 2% 0 2%;
    width: 15%;
    height: 20%;
    z-index: 1;
    margin: 2% 2%;
    -moz-box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
    
}

#icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 2%;
    margin-top: 3%;
}

.blockIcons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.jobBlockInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.jobBlockImage img {
    height: 20vh;
    width: 12vw;
    margin-top: 7%;
}

.jobBlockImage img:hover {
    opacity: .5;
    cursor: pointer;
}

.jobDate > h2 {
    color: var(--main-color);
}

.editImg {
    width: 15px;
    height: 15px;
    filter: invert(17%) sepia(64%) saturate(6190%) hue-rotate(265deg) brightness(53%) contrast(146%);
    border: none;
    margin: 0 5px;
}

.editImg:hover {
    opacity: .5;
}

input[type=image] {
    width: 15px;
    height: 15px;
    filter: invert(17%) sepia(64%) saturate(6190%) hue-rotate(265deg) brightness(53%) contrast(146%);
    border: none;
}
input[type=image]:hover {
    opacity: .5;
}


#status > img {
    width: 15px;
    height: 15px;
    margin-left: 25%;
}


.switch {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end ;
    position: relative;
}

.switches .switches-content {
    display: none;
    position: absolute;
    width: 10vh;
    font-size: .6em;
    bottom: 120%;
    background-color: #fff;
    padding: .5em;
    -moz-box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
  }

#add {
    width: 40px;
    height: 40px;
    filter: invert(17%) sepia(64%) saturate(6190%) hue-rotate(265deg) brightness(53%) contrast(146%);

}

.switches > a:hover {
    opacity: .5;
    cursor: pointer;
}

.switches:hover .switches-content {
    display: block;
}

/* show page css */
.main-container {
    margin: 0 auto;
    width: 50%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    -moz-box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
    padding: 1% 5% 5% 5%;

}

.main-container h1 {
    color: var(--main-color);
}

.show-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid var(--main-color);
}

.show-header img {
    height: 5vh;
    width: 5vh;
    align-self: center
}

.show-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.main-container h3 {
    color: var(--accent-color);
}

#active {
    color: rgb(14, 209, 14);
}

#inactive {
    color: red;
}

#back {
    padding: 2px;
    color: var(--secondary-color);
    background-color: var(--main-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    text-decoration: none;

}

#back:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--main-color);
}

/* new page css */
.new-main-container {
    margin: 0 auto;
    width: 50%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    -moz-box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
    padding: 1% 5% 5% 5%;

}

.new-page > h1 {
    color: var(--accent-color);
    font-size: 4em;
}

/* edit page css */
.edit-main-container {
    margin: 0 auto;
    width: 50%;
    background-color: var(--secondary-color);
    border-radius: 5px;
    -moz-box-shadow: 0 0 6px #ccc;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
    padding: 1% 5% 5% 5%;

}

.edit-page > h1 {
    color: var(--accent-color);
    font-size: 4em;
}

/* home page */

.home-main-container {
    width: 100vw;
}

.welcome {
    margin: 0 auto;
    width: 53%;
    color: var(--main-color);
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 10%;

}

.home-body-section {
    width: 100%;
    background-color: #bfdeff;
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0;
}

.home-body-section img {
    height: 15h;
    width: 15vw;
    filter: invert(17%) sepia(64%) saturate(6190%) hue-rotate(265deg) brightness(53%) contrast(146%);
    
}

.home-body-section h3 {
    color: var(--main-color);
}

.home-icon-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-icon-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-icon-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    border-top: 1px solid var(--main-color);
    text-align: center;
}

footer h5 {
    font-size: 1.1em;
    padding: 0;
}
#footer-span {
    font-size: .6em;
    padding: 0;
}

/* forms */

/* FORMS */
fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
  }
  
  legend {
    padding: 0 10px;
    color: rgb(107, 226, 107);
    font-size: 2em;
  }
  label {
    color: var(--main-color);
    display: block;
  }
  input[type="text"], textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
  }
  input[type=text]:focus {
    outline: none;
    border: 1px solid var(--main-color);
  }
  input[type="submit"] {
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    height: 50px;
    background: var(--main-color);
    font-size: 1.3em;
    color: whitesmoke;
  }
  
  input[type="submit"]:hover {
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
  }
  textarea {
    resize: none;
    height: 75px;
  }





